# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Native / Mobile / Monorepo general
**/node_modules/
**/build/
**/DerivedData/
**/.expo/
**/.metro-health-check*
**/local.properties
**/Pods/

# Output
shared/dist/
shared/node_modules/
